REGISTRY_BENE_PORTAL_API_PORT='8001'
REGISTRY_BENE_PORTAL_API_DB_USERNAME_REGISTRY='postgres'
REGISTRY_BENE_PORTAL_API_DB_PASSWORD_REGISTRY='password'
REGISTRY_BENE_PORTAL_API_DB_HOSTNAME_REGISTRY='localhost'
REGISTRY_BENE_PORTAL_API_DB_PORT_REGISTRY='5432'
REGISTRY_BENE_PORTAL_API_DB_DBNAME_REGISTRY='sr_db'
